[package]
name = "wallwarp"
version = "0.1.0"
edition = "2024"

[dependencies]
iced = { version = "0.14.0", features = ["tokio", "image", "advanced"] }
tokio = { version = "1.49.0", features = ["full"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
image = "0.25"
include_dir = "0.7.4"
toml = "0.9.10"
open = "5.3"
rfd = "0.16.0"

# i18n
fluent-bundle = "0.16.0"
fluent-langneg = "0.14.2"
unic-langid = "0.9.6"
sys-locale = "0.3.2"

[target.'cfg(windows)'.dependencies]
winreg = "0.55"
tray-icon = "0.21.3"

[build-dependencies]
winresource = "0.1.28"

[package.metadata.packager]
before-packaging-command = "cargo build --release"
# 指定需要包含的资源文件
resources = ["locales"]

[[package.metadata.packager.binaries]]
path = "wallwarp.exe"
main = true
